@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Jua&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: #272727;
}

::-webkit-scrollbar {
    display: none;
}

/*Desktop Header*/
.mobile-header{
    display: none;
}
.desktop-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    width: 90vw;
    z-index: 1;
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border-radius: 50px;
    top: 0; /* Ensures it stays at the top */
    left: 0;
    right: 0;
    margin: 0 auto; /* Centers the header horizontally */
    transition: transform 0.4s ease-in-out;
}
.logo{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}
.logo>img{
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-links{
    display: inline-flex;
    gap: 1rem;
    font-size: 1rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    color: #747474;
}

.nav-links li{
    cursor: pointer;
}
.logo-letters{
    font-size: 1.5rem;
    font-family: "Jua", sans-serif;
    font-weight: 800;
    color: #747474;
}


/*Hero Section*/
#mobile-hero{
    display: none;
}

#hero{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin-top: 15vh;
}

.details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding-left: 1rem;
}

.details-inside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
    font-size: 30px;
}

.name{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: white;
    font-size: 60px;
}

.static-text{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
    font-size: 30px;
}

.type-animate{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.dynamic-text{
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dynamic-text li{
    list-style: none;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 60px;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

.dynamic-text li::after{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #272727;
    left: 0;
    animation: typing 3s steps(20) infinite;
}

@keyframes typing {
    40%,
    60%{
        left: calc(100% );
    }
    100%{
        left: 0;
    }
}

@keyframes slide {
    100%{
        top: -360px;
    }
}

.details-inside p{
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    color: #747474;
    font-size: 20px;
}

/*---------------------*/

.btn-download{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 5px 5px;
    border: none;
    background: none;
    overflow: hidden;
    gap: .6rem;
    font-size: 20px;
    color: chartreuse;
    margin: .5rem .5rem;
}

.btn-download:hover{
    scale: 1.1;
}

.my-image{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 500px;
    background-image: url("assets/Untitled-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fr-img {
    scale: .8;
}


.social{
    height: auto;
    width: 60px;
    background-color: #747474;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    margin: 0.5rem 0.5rem;
}

.social-inside{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .2rem .2rem;
    width: 100%;
}

.social-inside i {
    color: #272727; /* Change icon color */
    font-size: 36px; /* Adjust icon size */
    transition: transform 0.3s ease; /* Add smooth transitions */
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
}

.social-inside i:hover {
    transform: scale(1.2) rotate(30deg); /* Increase the size on hover */
    color: #7289da; /* Change color on hover */
}

.download-button-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}

.download-button-container i{
    color: #747474;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*About Section*/

#about{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: 8rem;
    justify-content: flex-start;
    align-items: center;
}
.about-sec-main-topic{
    display: flex;
    color: #7289da;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-family: "Jua", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.about-sec-main-topic h1{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    margin: 0;
}

.sub-sec{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.basic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    gap: 1rem;
}
.basic-sec-topic{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;

}
.pic-bas{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("assets/Untitled-1.jpg");
    background-size: cover;
    background-position: left;
}

.pic-bas>label{
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 17px;
    color: #747474;
}

.line{
    height: 0.1rem;
    width: 80%;
    background-color: black;
}

.points{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #747474;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.points>ul{
    list-style: none;
}

.edu-mobile{
    display: none;
}
.edu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    gap: 1rem;
    height: auto;
}
.edu-sec-topic{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
}

.stages-main{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
}
.stages-sub{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 1rem;
}
.ordinary-level{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.advanced-level{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.diploma-level{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stage-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
}
.stage-image>img{
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
}

.stage-image img:hover{
    scale: .9;
    box-shadow: 0 0 20px #7289da;
    transition: 1s ease;
    transform:  rotate(30deg);
    overflow: hidden;
}

.stage-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 70%;
    padding: 1rem 1rem;
}
.stage-description label{
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #7289da;
}
.stage-description p{
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #747474;
    width: 95%;
    white-space: pre-line;
}

/*SKILL SECTION*/

#skills{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.skill-topic{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jua", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #7289da;
}

.skill-main-sec{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.programming-skills{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.programming-skills-topic{
    width: 90%;
    display: flex;
    align-items: center;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
}
.programming-skills-topic h3{
    margin: 0;
}
.ex-skills{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.programming-skills-stages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.skill-stage-frame{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.skill-logo{
    display: flex;
    align-items: center;
    justify-content: center;

}

.skill-logo>img{
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
}

.skill-progress{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-bar{
    height: 1rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    border-radius: 20px;
}
.progress-bar{
    height: 100%;
    width: 70%;
    border-radius: 20px;
    background-color: white;
}

.ex-skills-stages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 1.5rem;
}

.ex-skills-upper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.ex-skills-lower{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ex-skills-upper-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: auto;
    gap: 0.5rem;
}
.data-management-main-circle{
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-management-sub-circle{
    height: 220px;
    width: 220px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ex-skills-upper-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: auto;
    gap: 0.5rem;
}

.communication-main-circle{
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.communication-sub-circle{
    height: 220px;
    width: 220px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ex-skills-lower-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: auto;
    gap: 1rem;
}

.risk-management-main-circle{
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.risk-management-sub-circle{
    height: 220px;
    width: 220px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ex-skills-lower-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: auto;
    gap: 1rem;
}

.logic-handling-main-circle{
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logic-handling-sub-circle{
    height: 220px;
    width: 220px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*clip-path: polygon(0 0, 100% 0, 100% 25%, 0 100%);*/
}

/*EXPERIENCE - SECTION*/


#experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}

.exp-topic{
    height: fit-content;
    font-family: "Jua", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #7289da;
}

.exp-main-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.exp-finished{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.exp-upper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%
}

.exp-upper-left{
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem 1rem;
}

.exp-upper-right{
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem 1rem;
}

.exp-lower{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%
}

.exp-lower-left{
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem 1rem;
}

.exp-lower-right{
    justify-content: center;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem 1rem;
}

.exp-box{
    height: 225px;
    width: 225px;
    border-radius: 100px;
    background-color: #747474;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1.2rem;
}

.exp-desc{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-desc-details{
    width: 85%;
}

.exp-desc-details>p{
    text-align: justify;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #747474;
    font-size: 1.1rem;
}

/*SERVICES - SECTION */

#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    gap: 2rem;
}

.service-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    gap: 1rem;
}

.service-top h1{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
}

.service-top p{
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #747474;
    font-size: 1.1rem;
}
.service-pics-main{
    height: 300px;
    width: 90%;
    background-color: #747474;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.service-pics-sub{
    height: 270px;
    width: 100%;
    background-color: #272727;
    border-radius: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}

.service-pic>img{
    height: 235px;
    width: 235px;
    padding: 0.5rem 0.5rem;
    border-radius: 10%;
}

.service-type-display{
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*PROJECTS SECTION*/
#projects{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: auto;
}

.project-topic{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
}

.project-desc{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
}

.project-desc>p{
    text-align: right;
    width: 80%;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #747474;
    font-size: 1.1rem;
}

.project-cards{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    height: auto;
    justify-content: center;
    cursor: pointer;
}

.card-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #747474;
    border-radius: 20px;
    z-index: 1;
    border: 3px solid black;
    transition: transform 3s ease;
    padding: 1rem 1rem;
    width: 300px;
    margin-right: -10%;
}
.card-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #747474;
    border-radius: 20px;
    z-index: 5;
    border: 3px solid black;
    transition: transform 3s ease;
    padding: 1rem 1rem;
    width: 300px;
    margin-right: -12%;
}

.card-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #747474;
    border-radius: 20px;
    z-index: 10;
    border: 3px solid black;
    transition: transform 3s ease;
    padding: 1rem 1rem;
    width: 300px;
    backdrop-filter: blur(50px);
}

.card-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #747474;
    border-radius: 20px;
    z-index: 5;
    border: 3px solid black;
    transition: transform 3s ease;
    padding: 1rem 1rem;
    width: 300px;
    margin-left: -12%;
}

.card-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #747474;
    border-radius: 20px;
    z-index: 1;
    border: 3px solid black;
    transition: transform 3s ease;
    padding: 1rem 1rem;
    width: 300px;
    margin-left: -10%;
}

.project-cards p{
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffff;
    font-size: .9rem;
}

.project-cards label{
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    color: #ffff;
    font-size: 1rem;
}

.card-1>img{
    height: 200px;
    width: 200px;
}
.card-2>img{
    height: 250px;
    width: 250px;
}
.card-3>img{
    height: 300px;
    width: 300px;
}
.card-4>img{
    height: 250px;
    width: 250px;
}
.card-5>img{
    height: 200px;
    width: 200px;
}
.card-topic{
    text-align: center;
}
.card-par{
    text-align: center;
}

.card-1:hover{
    z-index: 12;
    /*transition: transform 2s ease;*/
    transform: translateX(-40%) scale(1.2);
    /*transform: scale(1.2);*/
    transition-duration: 0.5s;
}

.card-2:hover{
    z-index: 12;
    transform: scale(1.1) translateX(-30%);
    transition-duration: 0.5s;
}

.card-4:hover{
    z-index: 12;
    transform: scale(1.1) translateX(30%);
    transition-duration: 0.5s;
}

.card-5:hover{
    z-index: 12;
    transform: scale(1.2) translateX(40%);
    transition-duration: 0.5s;
}

.project-cards-mobile{
    display: none;
}


/*REVIEWS AND RATINGS*/

#reviews-and-ratings{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.rr-topic{
    width: 90%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
}
.rr-desc{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #747474;
    font-size: 1.1rem;
}

.rr-desc>p{
    width: 90%;
}

.rr-sec{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    width: 90%;
    gap: 0.5rem;
}

.rr-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    gap: 1.5rem;
}

.rr-submit{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    color: white;
}
.rr-submit-topic h3{
    margin: 0;
}
.rr-submit-topic{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
    margin-bottom: 1.5rem;
}

.rr-submit-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.rr-submit-form{
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.rr-form-inside{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}
.rr-form-inside input{
    width: 90%;
    padding: .3rem .3rem;
    border-radius: 15px;
    height: 3rem;
    background-color: #272727;
    box-shadow: 0 0 10px #747474;
    margin: .5rem .5rem;
    border: none;
}

.rr-form-inside input::placeholder {
    text-align: right;
    color: #747474;
}

input {
    text-align: right;
    padding-right: .5rem;
    color: #747474;
}

.rr-form-inside label{
    margin-right: .5rem;
    margin-bottom: 0;
}
.rr-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0 0 10px #ffff;
    margin: .5rem .5rem;
}

.r-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 1rem;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #747474;
    font-size: 1rem;
    margin-top: .5rem;
}

.r-profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.r-profile>img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.r-p-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.r-p-info label{
    margin: 0;
}

.r-country{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 0.5rem;
}

.r-country i{
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.r-comment{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 95%;
    text-align: justify;
    font-family: "Inria Sans", serif;
    font-weight: 200;
    font-style: normal;
    color: #ffff;
    font-size: 1rem;
}

.r-comment p{
    margin: 0;
}
.customer-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 95%;
    font-size: 20px;
    margin-bottom: 1rem;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #FE7;
}

.rr-submit-rating{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: auto;
}
.rr-submit-rating>label:first-child{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

div.col-md-12{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}
div.stars {
    display: inline-block;
    padding: 0;
}

.stars>label{
    padding: 0;
}
label.star{
    margin: 1rem 0;
}

.stars>form{
    padding: 0 0 ;
}
input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 30px;
    color: #7289da;
    transition: all .2s;
}



input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}


input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.1) ;
}
label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

#contact{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    color: white;
}

.contact-topic{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
}

.contact-desc{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: flex-end;
    margin: 0;
    flex-direction: row;
    height: fit-content;
}

.contact-desc>p{
    height: fit-content;
    margin: 0;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #747474;
    font-size: 1.1rem;
}

.contact-real{
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.contact-real h3{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
}

.inquiry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 2rem;
}

.inq-topic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inquiry-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.inq-form-inside{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.inq-form-inside label{
    width: 90%;
    margin: 0;
    padding-left: .3rem;
}

.inquiry-form input{
    width: 90%;
    height: 3rem;
    border-radius: 15px;
    border: 0;
    padding:.5rem .5rem;
    background-color: #272727;
    box-shadow: 0 0 10px #747474;
    margin: .5rem .5rem;
}

.inq-form-inside input::placeholder {
    text-align: left;
    color: #747474;
}

.contact-details{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.con-detail-topic{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.con-detail-methods{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: #747474;
    font-size: 1.1rem;
}
.con-type{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}
.con-type label {
    margin: 0;
}
.con-image{
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
}

.con-image>img{
    height: 50px;
    width: 50px;
}

.con-way{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.submit-button{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.submit-button button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    margin: 0;
    border: 0;
    background-color: #747474;
}

#assignments{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
    width: 100%;
}

.assignment-topic{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
}

.assignment-main-desc{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #747474;
    font-size: 1.1rem;
}

.assignment-card-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    gap: 1.3rem;
    transition: 3s ease;
    height: 450px;
}

.assignment-card{
    height: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #D9D9D9;
    border-radius: 50px;
    cursor: pointer;
}

.assignment-card:hover{
    transform: scale(1.1);
}

.assignment-card-upper-part{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.assignment-card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 95%;
}

.assignment-card-image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 95%;
    border-radius: 25px;
}
.assignment-card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.assignment-card-number{
    height: 35%;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.assignment-card-module{
    height: 65%;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.assignment-card-lower-part {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border-radius: 50px 0 50px 50px;
    background-color: #747474;
    gap: .5rem;
    padding: .5rem 0;
}

.assignment-card-number-circle{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #747474;
    font-family: "Jua", serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
    font-size: 1.1rem;
}

.assignment-card-number-circle h3{
    margin: 0;
}

.assignment-card-module-name{
    height: 100%;
    width: 65px;
    border-radius: 25px;
    background-color: #747474;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
    white-space: pre-line;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    flex-direction: row;
}

.assignment-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jua", serif;
    font-weight: 400;
    font-style: normal;
    color: #7289da;
}

.assignment-name h3{
    margin: 0;
}

.assignment-description{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.assignment-description p{
    width: 95%;
    text-align: justify;
    margin: 0;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: .9rem;
}

.assignment-card-icons{
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
    justify-content: flex-end;
}